/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

input {
    padding: 5px;
}


li {
    list-style: none;
}

/* UTILITIES */
.big-text {
    font-size: 130%;
}

.button {
    padding: 15px;
    font-size: 120%;
}

.container {
    padding: 10px;
    border: 2px solid #000;
}

.flex-nw {
    display: flex;
}

.flex-w {
    display: flex;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.central {
    margin: auto;
}

.green {
    background: green;
}

.green-color {
    color: green;
}

.red-color {
    color: red;
}

.section-header {
    margin-bottom: 15px;
}

.small-text {
    font-size: 80%;
}

.white-color {
    color: #fff;
}


/* APP */
.app {
    flex-direction: column;
}

.app > * {
    width: 100%;
}


/* MAIN */
main > * {
    padding: 10px;
    flex-basis: 50%;
}


/* Main: PALINDROME-SECTION  */
.input-wrapper {
    justify-content: center;
    align-items: center;
}

.input-wrapper button {
    padding: 7px;
}

.input-wrapper input {
    width: 400px;
}

.output {
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #000;
    width: 440px;
}


/* Main: ODDSEVENS-SECTION */
.oddsEvens-section .input-wrapper > * {
    margin-bottom: 15px;
    flex-basis: 100%;
}